/* Wrapper to control layout and spacing around the input component */
.input-wrapper {
    display: flex;
    flex-direction: column;
    gap: 8px; /* Space between label and input */
    margin-bottom: 16px;
  }
  
  /* Style for the label */
  .input-label {
    font-size: 14px;
    color: #333;
    font-weight: 500;
    padding-left: 0.2rem;
    font-size: 16px;
    font-family: var(--font-family);
  }
  
  /* Style for the input field */
  .input-field {
    padding: 8px 12px;
    font-size: var(--font-size-base);
    font-family: var(--font-family);
    color: #333;
    border: 1px solid #659181;
    border-radius: 15px;
    outline: none;
    transition: border-color 0.2s, box-shadow 0.2s;
  }

  .input-textarea {
    padding: 8px 12px;
    font-size: var(--font-size-base);
    font-family: var(--font-family);
    color: #333;
    border: 1px solid var(--secondary-color);
    border-radius: 15px;
    outline: none;
    transition: border-color 0.2s, box-shadow 0.2s;
  }
  
  /* Change border color on focus */
  .input-field:focus {
    border-color: #145f47;
    box-shadow: 0 0 0 3px #659181;
  }
  .input-textarea:focus {
    border-color: #145f47;
    box-shadow: 0 0 0 3px #659181;
  }
  
  /* Placeholder color */
  .input-field::placeholder {
    color: #659181;
  }
  .input-textarea::placeholder {
    color: #659181;
    font-family: var(--font-family);
    font-size: var(--font-size-base); /* Match placeholder font size */
    font-weight: normal; /* Ensure placeholder is not bold */
  }