@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Quicksand:wght@300..700&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
    --primary-color: #145f47;
    --secondary-color: #659181;
    --text-color: #ffffff;
    --background: #ffffff;
    --font-family: Montserrat, sans-serif;
    --font-size-base: 14px;
    --padding-base: 1rem;
}
  
html, body, #root {
    height: 100%;
    margin: 0;
}

body {
    font-family: var(--font-family);
    font-size: var(--font-size-base);
    color: var(--primary-color);
    padding: var(--padding-base);
    line-height: 1.6;
    background-color: var(--background);
}

a {
    color: var(--primary-color);
    text-decoration: none;
}
  
a:hover {
    color: var(--secondary-color);
}
  
button {
    background-color: var(--primary-color);
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
  
button:hover {
    background-color: var(--secondary-color);
}

h1 {
    font-size: 2rem;
}
  
h2 {
    font-size: 1.5rem;
}
  
@media (min-width: 768px) {
    h1 {
      font-size: 2.5rem;
    }
    
    h2 {
      font-size: 2rem;
    }
}

/* Utility classes */
.text-center {
    text-align: center;
}
  
.mt-2 {
    margin-top: 1rem;
}
  
.p-2 {
    padding: 1rem;
}

/* Make App the flex container, with Navbar and Footer as fixed elements */
.App {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

/* Make main content grow to fill available space */
.main-content {
    flex-grow: 1;
}