.create {
    max-width: 500px;
    margin: 60px auto;
  }
  p {
    margin-top: 10px;
    font-size: 0.8em;
    padding-left: 0.2rem;
  }
    
  .ingredients {
    display: flex;
    align-items: center; /* Center input and button vertically */
    gap: 10px; /* Add space between the input and button */
  }
  
  .ingredients .input-wrapper {
    flex-grow: 1; /* Allow the input-wrapper to take all available space */
    margin-bottom: 0; /* Remove unnecessary bottom margin */
    display: flex; /* Keep input alignment consistent */
    align-items: center; /* Vertically center input within the wrapper */
  }
  
  .ingredients .input-wrapper .input-field {
    width: 100%; /* Ensure the input stretches to fill the wrapper */
  }
  .ingredients .input-label {
    align-self: flex-start;
  }
  
  .ingredients button {
    flex-shrink: 0; /* Prevent the button from shrinking */
    margin-left: 10px; /* Space between the input and the button */
    align-self: flex-end;
  }
